* {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6rem;
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth; }

.full-right {
  float: right !important; }

::selection {
  background-color: #b37e6b;
  color: #000; }

.btn {
  font-size: 14px;
  width: 126px;
  height: 42px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff; }

.btn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer; }

.introduce {
  height: 746px;
  background-image: url("../img/banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative; }

.introduce_overlay {
  height: 100%;
  background-color: rgba(58, 58, 58, 0.3); }

.menu-btn {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  display: none; }

.introduce_wrap {
  padding: 32px 0; }

.introduce_info-wrap {
  height: 100%;
  display: flex;
  align-items: center; }

.introduce_info-link {
  position: relative;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  margin: 0 14px;
  display: flex;
  align-items: center; }

.introduce_info-link:hover .subnav {
  display: block; }

.subnav {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 200px;
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 0;
  display: none; }

.subnav::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 96%;
  left: 0;
  height: 20px;
  width: 100%; }

.subnav_item:nth-child(3) {
  border-top: 1px solid #ccc; }

.subnav_item:hover {
  background-color: #ccc;
  border-radius: 4px; }

.subnav_item-link {
  text-decoration: none;
  display: block;
  padding: 12px 20px;
  color: #000;
  border-radius: 4px; }

.introduce_info-link img {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  object-fit: cover; }

.introduce_info-link:nth-child(3) i {
  margin-left: 8px;
  font-size: 14px; }

.nav_list {
  list-style: none;
  text-align: center; }

.nav_item {
  display: inline-block; }

.nav_item-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 0 16px;
  line-height: 25px; }

.introduce_title {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1;
  text-transform: uppercase;
  padding: 0 60px;
  font-family: 'Cormorant Garamond', serif; }

.introduce_title::before {
  content: '';
  display: block;
  position: absolute;
  width: 22px;
  height: 0.8px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: calc(100% - 50px); }

.introduce_heading {
  font-size: 104px;
  color: #fff;
  line-height: 1.1;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  padding: 0 24px; }

.introduce_btn-more {
  padding: 0 24px; }

/* About section */
.about_section {
  padding: 104px 0;
  background-color: #edeae8; }

.about_heading {
  font-size: 16px;
  font-family: 'Cormorant Garamond', serif;
  color: #b37e6b;
  letter-spacing: 2px; }

.about_title {
  font-size: 64px;
  color: #3a3a3a;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 46px; }

.about_separate {
  width: 66px;
  height: 2px;
  background-color: #b37e6b; }

.about_desc-1 {
  font-size: 16px;
  color: #4b4f58;
  line-height: 1.8;
  font-weight: 600;
  padding-top: 20px;
  padding-right: 80px; }

.about_desc-2 {
  font-size: 16px;
  color: #4b4f58;
  line-height: 1.8;
  padding-top: 20px;
  padding-right: 80px; }

.about_desc-3 {
  font-size: 16px;
  color: #4b4f58;
  line-height: 1.8;
  padding-top: 20px;
  padding-right: 80px; }

/* Container */
.container {
  padding-top: 700px;
  background-image: url("../img/content.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.container_wrap {
  position: absolute;
  top: 136px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center; }

.container_title {
  font-size: 64px;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 60px; }

.container_author {
  font-size: 24px;
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
  font-weight: 600; }

/* Menu section */
.menu_section {
  background-color: #edeae8;
  padding: 100px 0;
  text-align: center; }

.menu_heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 64px;
  color: #3a3a3a;
  font-weight: 500;
  font-family: 'Roboto Slab', serif;
  line-height: 1.2; }

.menu_sub-heading {
  font-size: 16px;
  color: #4b4f58;
  line-height: 1.8; }

.menu_list {
  margin-top: 20px; }

.menu_item {
  margin-top: 56px; }

.menu_item-link {
  display: block;
  text-decoration: none; }

.menu_item-img {
  cursor: pointer;
  width: 100%;
  height: 312px;
  object-fit: cover; }

.menu_item-body-link {
  display: block;
  text-decoration: none; }

.menu_item-name {
  font-size: 32px;
  color: #3a3a3a;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.2;
  margin: 24px 0; }

.menu_item-price {
  font-size: 16px;
  color: #4b4f58; }

/*  */
.club_section {
  padding-top: 78px;
  background-color: transparent;
  background-image: linear-gradient(180deg, #fff 50%, #edeae8 50%); }

.club_content {
  background-color: #b37e6b;
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  padding: 80px 0; }

/* Testimonials section  */
.testimonials_section {
  background-color: #edeae8;
  padding: 110px 0 52px; }

.testimonials_heading {
  position: relative;
  font-size: 64px;
  color: #3a3a3a;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 80px;
  margin-top: 0;
  font-family: 'Times New Roman', Times, serif; }

.testimonials_heading::after {
  position: absolute;
  content: '';
  display: block;
  width: 64px;
  height: 2px;
  background-color: #b37e6b;
  top: calc(100% + 30px);
  left: 0; }

.testimonials_item {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 48px; }

.testimonials_item-text {
  font-size: 16px;
  font-weight: 600;
  color: #4b4f58;
  margin-top: 0;
  margin-bottom: 26px;
  line-height: 1.8; }

.testimonials_item-body {
  display: flex;
  align-items: center; }

.testimonials_item-img {
  border-radius: 100%; }

.testimonials_item-name {
  font-size: 22px;
  font-weight: 600;
  color: #4b4f58;
  font-family: 'Cormorant Garamond', serif;
  margin-left: 16px; }

/* Gallery section */
.gallery_inner {
  position: relative; }

.gallery_list {
  display: flex; }

.gallery_item {
  /* width: 33.33333%; */
  /* margin-right: -30px !important; */ }

.gallery_img {
  width: 100%;
  display: block; }

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 25px;
  height: 25px;
  color: #fff;
  font-size: 2rem; }

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  font-weight: 700; }

/* Contact section */
.contact_section {
  padding: 104px 40px 80px;
  background-color: #b37e6b; }

.contact_top {
  padding-bottom: 80px;
  margin-bottom: 64px;
  border-bottom: 1px solid #f7f4f2; }

.contact_address {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  line-height: 1.2; }

.contact_btn {
  font-size: 14px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  padding: 12px 25px;
  border: 1px solid #fff;
  margin-top: 28px;
  font-weight: 600; }

.contact_btn i {
  margin-right: 12px; }

.contact_btn:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer; }

.contact_opening {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.4;
  margin: 0 0 76px; }

.contact_opening i {
  margin-right: 12px; }

.contact_days {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.4;
  margin-bottom: 18px;
  position: relative; }

.contact_days::before {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: #fff;
  top: calc(100% - 60px);
  left: 0; }

.contact_time {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 1.4;
  margin: 0; }

.contact_book {
  font-size: 40px;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.2;
  color: #fff;
  margin: 0; }

.contact_number,
.contact_email {
  font-size: 32px;
  color: #fff;
  margin: 0;
  line-height: 1.6;
  font-weight: 600; }

/* Footer section */
.footer {
  padding: 48px 40px;
  background-color: #edeae8;
  text-align: center; }

.footer_copyright {
  margin: 0;
  font-size: 14px;
  color: #7f7b76;
  display: inline-block; }

.footer_info {
  float: right; }

.footer_link {
  font-size: 18px;
  text-decoration: none;
  color: #b37e6b;
  margin-left: 36px; }

.footer_link:hover {
  color: #000; }

/* Nav modal */
.nav_tablet {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  transform: translateX(100%);
  opacity: 0; }

.nav_tablet-close {
  position: absolute;
  top: 20px;
  right: 40px;
  padding: 10px;
  font-size: 20px;
  color: #000; }

.nav_tablet-list {
  padding-left: 0;
  list-style: none;
  margin: 60px 0 0; }

.nav_tablet-link {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 30px;
  line-height: 30px;
  padding: 25px 16px;
  text-align: center; }

/* Responsive */
/* PC */
@media (min-width: 1024px) {
  .l_hidden {
    display: none; } }

/* Tablet && mobile */
@media (max-width: 1023px) {
  .nav,
  .introduce_wrap {
    display: none; } }

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .m-hide {
    display: none; }
  .introduce {
    height: 1180px;
    background-attachment: unset; }
  .introduce_overlay {
    display: flex;
    align-items: center; }
  .menu-btn {
    display: block; }
  .introduce_title {
    margin: 0 0 48px; }
  .introduce_heading {
    margin: 0 0 48px;
    font-size: 70px;
    line-height: 1.05;
    padding: 0; }
  .about_section {
    padding: 70px 0; }
  .about_desc-1,
  .about_desc-2,
  .about_desc-3 {
    padding-right: 0; }
  .about_title {
    font-size: 46px;
    margin-bottom: 16px; }
  .container {
    padding-top: 480px; }
  .container_wrap {
    top: 60px; }
  .container_quotes-svg {
    width: 24px;
    height: 24px; }
  .container_title {
    font-size: 48px;
    margin: 30px 30px 40px; }
  .container_title br {
    display: none; }
  .container_author {
    font-size: 18px; }
  .menu_section {
    padding: 80px 0; }
  .menu_item {
    margin-top: 36px; }
  .menu_heading {
    font-size: 48px; }
  .menu_sub-heading br {
    display: none; }
  .menu_sub-heading {
    font-size: 15px; }
  .menu_item-img {
    width: 100%; }
  .menu_item-name {
    font-size: 25px;
    margin: 18px 0 10px; }
  .menu_item-price {
    font-size: 15px; }
  .club_section {
    padding-top: 40px; }
  .club_content {
    font-size: 32px;
    padding: 50px 30px; }
  .club_content br {
    display: none; }
  .testimonials_section {
    padding: 76px 0 50px; }
  .testimonials_heading {
    font-size: 42px; }
  .testimonials_heading br {
    display: none; }
  .testimonials_item {
    padding: 30px 30px;
    margin-bottom: 30px; }
  .testimonials_item-text {
    margin-bottom: 18px; }
  .testimonials_item-text br {
    display: none; }
  .gallery_list {
    overflow-x: scroll; }
  .gallery_list::-webkit-scrollbar {
    display: none; }
  .gallery_item {
    width: 50%; }
  .gallery_img {
    width: unset; }
  .contact_section {
    padding: 80px 0px 48px; }
  .contact_top {
    padding-bottom: 60px;
    margin-bottom: 50px; }
  .contact_address {
    font-size: 32px; }
  .contact_opening {
    font-size: 15px;
    margin: 0 0 30px; }
  .contact_days {
    font-size: 18px; }
  .contact_days::before {
    top: calc(100% - 44px); }
  .contact_book {
    font-size: 32px; }
  .contact_number,
  .contact_email {
    font-size: 20px; } }

/* Mobile */
@media (max-width: 739px) {
  .introduce {
    background-attachment: unset; }
  .menu-btn {
    display: block;
    top: 12px;
    right: 20px;
    font-size: 16px; }
  .introduce_overlay {
    display: flex;
    align-items: center; }
  .introduce_title {
    font-size: 15px;
    margin-top: 0; }
  .introduce_heading {
    font-size: 40px; }
  .about_section {
    padding: 64px 20px 48px; }
  .about_heading {
    font-size: 14px;
    margin: 0 0 22px; }
  .about_title {
    font-size: 32px;
    margin-bottom: 22px; }
  .about_desc-1,
  .about_desc-2,
  .about_desc-3 {
    padding-right: 0;
    text-align: justify; }
  .container {
    padding-top: 480px; }
  .container_wrap {
    top: 80px;
    padding: 0 13px; }
  .container_title {
    font-size: 32px;
    margin-bottom: 28px;
    margin-top: 24px; }
  .container_title br {
    display: none; }
  .container_quotes-svg {
    width: 20px;
    height: 20px; }
  .container_author {
    font-size: 16px; }
  .menu_section {
    padding: 64px 24px 14px; }
  .menu_heading {
    font-size: 32px;
    padding: 0 24px; }
  .menu_sub-heading {
    font-size: 15px;
    margin-bottom: 34px; }
  .menu_sub-heading br {
    display: none; }
  .menu_item {
    margin-top: 0;
    margin-bottom: 26px; }
  .menu_item-name {
    font-size: 20px;
    margin: 8px 0 0; }
  .menu_item-price {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 8px; }
  .club_section {
    padding-top: 0; }
  .club_content {
    font-size: 28px;
    padding: 68px 20px; }
  .club_content br {
    display: none; }
  .testimonials_section {
    padding: 64px 24px 32px; }
  .testimonials_heading {
    font-size: 32px;
    line-height: 1.8;
    margin-bottom: 48px; }
  .testimonials_heading br {
    display: none; }
  .testimonials_heading::after {
    top: calc(100% + 10px); }
  .testimonials_item {
    padding: 24px 24px;
    margin-bottom: 32px; }
  .gallery_list {
    overflow-x: scroll; }
  .gallery_list::-webkit-scrollbar {
    display: none; }
  .gallery_item {
    width: 100%; }
  .gallery_img {
    width: unset;
    height: 390px;
    object-fit: cover; }
  .contact_section {
    padding: 64px 24px 64px; }
  .contact_address {
    font-size: 28px; }
  .contact_btn {
    padding: 10px 18px;
    margin-top: 20px;
    margin-bottom: 40px; }
  .contact_opening {
    font-size: 15px;
    margin: 0 0 40px; }
  .contact_days,
  .contact_time {
    font-size: 16px; }
  .contact_days::before {
    top: calc(100% - 40px); }
  .contact_top {
    padding-bottom: 64px;
    margin-bottom: 48px; }
  .contact_book {
    font-size: 28px; }
  .contact_number,
  .contact_email {
    font-size: 20px; }
  .contact_number {
    margin: 10px 0; }
  .footer_copyright {
    font-size: 12px; }
  .footer_info {
    float: unset;
    text-align: center;
    margin-top: 20px; }
  .footer_link {
    margin: 0 20px;
    font-size: 14px; }
  .nav_tablet-close {
    top: 12px;
    right: 20px;
    font-size: 16px; }
  .nav_tablet-link {
    font-size: 22px; }
  .s-hidden {
    display: none; } }
